.dashboardtitle {
  font-size: 25px;
}
.container5v1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  grid-row-gap: 30px;
  overflow: auto;
}

.container5v1 .graphic {
  height: 230px;
  width: 230px;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 12px black;
  transition-duration: 0.7s;
}

.container5v1 .graphic:hover {
  cursor: pointer;
  transform: scale3d(1.15,1.15,1.15);
  opacity: 1;
  transition-duration: 0.7s;
}
