.dashboardtitle {
  font-size: 25px;
}
.container5v1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  margin-top: 18px;
}

.container5v1 .graphic {
  height: 200px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 12px black;
  transition-duration: 0.7s;
}

.container5v1 .graphic:hover {
  cursor: pointer;
  transform: scale3d(1.03,1.03,1.03);
  opacity: 1;
  transition-duration: 0.7s;
}

.top {
  background: linear-gradient(#1e2426, #1e2426, transparent);
  position: absolute;
  height: 25px;
  margin-left: -10px;
  margin-top: -10px;
  width: 327.5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bottom {
  background: linear-gradient(transparent, #1e2426, #1e2426);
  position: absolute;
  height: 30px;
  margin-left: -10px;
  margin-top: 780px;
  width: 327px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
