<!--<p>Lean: {{leanStato}}</p>
<p>digital: {{digitalStato}}</p>-->
<h1 class="dashboardtitle">DASHBOARD</h1>
<div class="container">

  <app-app-chart routerLink="/chart" routerLinkActive="active"
                 [contextID]="ObjectID.chart1"
                 class="graphic backWhite"
                 (click)="changeClass()"
                 (mouseover)="onDivMouseOver(ObjectID.chart1)">
  </app-app-chart>
  <app-app-chart routerLink="/chart" routerLinkActive="active"
                 [contextID]="ObjectID.chart2"
                 class="graphic backWhite"
                 (click)="changeClass()"
                 (mouseover)="onDivMouseOver(ObjectID.chart2)">
  </app-app-chart>
  <app-app-chart routerLink="/chart" routerLinkActive="active"
                 [contextID]="ObjectID.chart3"
                 class="graphic backWhite"
                 (click)="changeClass()"
                 (mouseover)="onDivMouseOver(ObjectID.chart3)">
  </app-app-chart>
<!--  <app-graph10 routerLink="/graph10" routerLinkActive="active"
               [contextID]="ObjectID.chart1"
               class="graphic backWhite"
               (click)="changeClass()"
               (mouseover)="onDivMouseOver(ObjectID.chart1)">
  </app-graph10>
  <app-graph10 routerLink="/graph10" routerLinkActive="active"
               [contextID]="ObjectID.chart2"
               class="graphic backWhite"
               (click)="changeClass()"
               (mouseover)="onDivMouseOver(ObjectID.chart2)">
  </app-graph10>
  <app-graph10 routerLink="/graph10" routerLinkActive="active"
               [contextID]="ObjectID.chart3"
               class="graphic backWhite"
               (click)="changeClass()"
               (mouseover)="onDivMouseOver(ObjectID.chart3)">
  </app-graph10>-->

<!--  <div routerLink="/grafico1" routerLinkActive="active" class="graphic backWhite"
       (click)="changeClass()" [ngClass]="grafico1"
       (mouseover)="onDivMouseOver(ObjectID.chart2)"></div>
  <div routerLink="/grafico1" routerLinkActive="active" class="graphic backWhite"
       (click)="changeClass()" [ngClass]="grafico1"
       (mouseover)="onDivMouseOver(ObjectID.chart2)"></div>-->
</div>

