#lean {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #49b675;
  border-radius: 10px;
  padding: 7px;
  grid-column-gap: 7px;
  margin-top: -15px;
  margin-bottom: 19px;
}

#digital {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #ff605f;
  border-radius: 10px;
  padding: 7px;
  grid-column-gap: 7px;
}

p {
  padding: 0;
  margin-top: 29px;
  width: calc(100% - 5px);
  font-size: 20px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  width: calc(100% - 5px);
}
