<div class="gridInNine">
  <canvas class="center" baseChart width="320" height="265"
          [datasets]="data.lineChartData"
          [labels]="data.lineChartLabels"
          [options]="data.lineChartOptions"
          [colors]="data.lineChartColors"
          [legend]="data.lineChartLegend"
          [chartType]="data.lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
  <!--<canvas id="densityChart" class="center" width="320" height="265"></canvas>-->
  <!--<div *ngIf="myChart">
    <canvas id="canvas">{{ myChart }}</canvas>
  </div>-->
</div>
