<div class="row">
  <div class="col-md-6">
    <div style="display: block;">

      <canvas baseChart width="320" height="320"
              [datasets]="data.lineChartData"
              [labels]="data.lineChartLabels"
              [options]="data.lineChartOptions"
              [colors]="data.lineChartColors"
              [legend]="data.lineChartLegend"
              [chartType]="data.lineChartType"
      
      <canvas baseChart width="620" height="500"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"

              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>
