.tree-node-content-wrapper-active {
  background-color: darkgreen;
}

.node-content-wrapper-active {
  background-color: darkgoldenrod;
}

.tree-node {
  background-color: aquamarine;
}

.tree-node.tree-node-disabled {
  background-color: #ff605f;
}
