<div class="centraApp">
  <h1>ANGUS</h1>
  <div class="app">
    <app-grafici id="grafici" class="backScuro"></app-grafici>
    <div id="intestazione" class="backScuro">
      <div routerLink="home" routerLinkActive="active" class="home" id="home"></div>
      <h3 id="text" class="backScuro">Stabilimento Centrale Lavaggio</h3>
    </div>
    <app-view id="view" class="backAntracite"></app-view>
    <div id="menu" class="backScuro">
      <app-topmenu id="topmenu"></app-topmenu>
      <app-bottommenu id="bottommenu"></app-bottommenu>
    </div>
    <app-tips id="tips" class="backScuro"></app-tips>
  </div>
</div>
<!--<app-intro id="intro" *ngIf="false"></app-intro>-->
<!-- HISTORYBACK -->


<div class="background"></div>
