// BACKGROUND HOME

.baH { // Sfondo piantina generale impianto Angus Default
  background-image: url("../../../documentation/SezioneLavaggio.svg");
}

.baHL { // Sfondo piantina generale impianto Angus Lean
  background-image: url("../../../documentation/MAGAZZINOT.svg");
}

.baHD { // Sfondo piantina generale impianto Angus Digital
  background-image: url("../../../documentation/MAGAZZINOT.svg");
}

    // BACKGROUND SEZIONE LAVAGGIO

    .bsl { // Sfondo sezione lavaggio Default
      background-image: url("../../../documentation/griglia1.svg");
    }

    .bslL { // Sfondo sezione lavaggio Lean
      background-image: url("../../../documentation/griglia.svg");
    }

    .bslD { // Sfondo sezione lavaggio Digital
      background-image: url("../../../documentation/griglia1.svg");
    }


        // BACKGROUND PRELAVAGGIO(SOTTOSEZIONE LAVAGGIO)

        .bp { // Sfondo prelavaggio Default
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .bpL { // Sfondo prelavaggio Lean
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .bpD { // Sfondo prelavaggio Digital
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }


        //BACKGROUND LAVAGGIO (SOTTOSEZIONE LAVAGGIO)

        .bl { // Sfondo lavaggio Default
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .blL { // Sfondo lavaggio Lean
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .blD { // Sfondo lavaggio Digital
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }


        // BACKGROUND ASCIUGATURA (SOTTOSEZIONE LAVAGGIO)

        .ba { // Sfondo asciugatura Default
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .baL { // Sfondo asciugatura Lean
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .baD { // Sfondo asciugatura Digital
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }


    // BACKGROUND SEZIONE PRETRATTAMENTO

    .bsp { // Sfondo sezione lavaggio Default
      background-image: url("../../../documentation/MAGAZZINOT.svg");
    }

    .bspL { // Sfondo sezione lavaggio Lean
      background-image: url("../../../documentation/MAGAZZINOT.svg");
    }

    .bspD { // Sfondo sezione lavaggio Digital
      background-image: url("../../../documentation/MAGAZZINOT.svg");
    }


        // BACKGROUND VASCA PRE TRATTAMENTO (SOTTOSEZIONE PRETRATTAMENTO)

        .bvt { // Sfondo vasca pre trattamento Default
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .bvtL { // Sfondo vasca pre trattamento Lean
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .bvtD { // Sfondo vasca pre trattamento Digital
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }


        // BACKGROUND VASCA PRIMER (SOTTOSEZIONE PRETRATTAMENTO)

        .bvp { // Sfondo vasca primer Default
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .bvpL { // Sfondo vasca primer Lean
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .bvpD { // Sfondo vasca primer Digital
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }


        // BACKGROUND VASCA FINISHER (SOTTOSEZIONE PRETRATTAMENTO)

        .bvf { // Sfondo vasca finisher Default
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .bvfL { // Sfondo vasca finisher Lean
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .bvfD { // Sfondo vasca finisher Digital
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }


    // BACKGROUND SEZIONE STOCCAGGIO

    .bss { // Sfondo sezione stoccaggio Default
      background-image: url("../../../documentation/MAGAZZINOT.svg");
    }

    .bssL { // Sfondo sezione stoccaggio Lean
      background-image: url("../../../documentation/MAGAZZINOT.svg");
    }

    .bssD { // Sfondo sezione stoccaggio Digital
      background-image: url("../../../documentation/MAGAZZINOT.svg");
    }


        // BACKGROUND IMPILATORE (SOTTOSEZIONE STOCCAGGIO)

        .bi { // Sfondo impilatore Default
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .biL { // Sfondo impilatore Lean
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }

        .biD { // Sfondo impilatore Digital
          background-image: url("../../../documentation/MAGAZZINOT.svg");
        }





