.container3v1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 58px);
  height: 572px;
  grid-template-areas:
    'child1 child1 child2 child2 child2 child2'
    'child1 child1 child2 child2 child2 child2'
    'child1 child1 child2 child2 child2 child2'
    'child1 child1 child2 child2 child2 child2'
    'child1 child1 child2 child2 child2 child2'
    'child1 child1 child3 child3 child3 child3'
    'child1 child1 child3 child3 child3 child3'
    'child1 child1 child3 child3 child3 child3'
    'child1 child1 child3 child3 child3 child3'
    'child1 child1 child3 child3 child3 child3'
    'child1 child1 child3 child3 child3 child3';
  background-image: url("../../../documentation/MAGAZZINOT.svg");
  background-size: 100% 100%;
  position: center;
}


.container3v2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 58px);
  height: 572px;
  grid-template-areas:
    'child1 child1 child2 child2 child3 child3'
    'child1 child1 child2 child2 child3 child3'
    'child1 child1 child2 child2 child3 child3'
    'child1 child1 child2 child2 child3 child3'
    'child1 child1 child2 child2 child3 child3'
    'child1 child1 child2 child2 child3 child3'
    'child1 child1 child2 child2 child3 child3'
    'child1 child1 child2 child2 child3 child3'
    'child1 child1 child2 child2 child3 child3'
    'child1 child1 child2 child2 child3 child3';
  background-image: url("../../../documentation/MAGAZZINOL.svg");
  background-size: 100% 100%;
  position: center;
}

#child1 {
  grid-area: child1;
}

#child2 {
  grid-area: child2;
}

#child3 {
  grid-area: child3;
}














.magazzino {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 522px;
}

.magazzino1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.magazzino2 {
  display: grid;
  grid-template-columns: 1fr;
}

#magG1 {
}

#magG2 {
}

#magG3 {
}

.tradizionale {
  background-image: url("../../../documentation/MAGAZZINOT.png");
  background-size: 100% 100%;
  background-position: center;
}

.lean {
  background-image: url("../../../documentation/MAGAZZINOL.png");
  background-size: 100% 100%;
  background-position: center;
}

.all {
  background-image: url("../../../documentation/MAGAZZINOL_DIGITAL.png");
  background-size: 100% 100%;
  background-position: center;
}

