// BACKGROUND HOME

.baH {
  // Sfondo piantina generale impianto Angus Default
  background-image: url("../../../documentation/PiantinaAngus.svg");
}

.baHL {
  // Sfondo piantina generale impianto Angus Lean
  background-image: url("../../../documentation/PiantinaAngusL.svg");
}

.baHD {
  // Sfondo piantina generale impianto Angus Digital
  background-image: url("../../../documentation/PiantinaAngusD.svg");
}

// BACKGROUND SEZIONE LAVAGGIO

.bsl {
  // Sfondo sezione lavaggio Default
  background-image: url("../../../documentation/SezioneLavaggio.svg");
}

.bslL {
  // Sfondo sezione lavaggio Lean
  background-image: url("../../../documentation/SezioneLavaggioL.svg");
}

.bslD {
  // Sfondo sezione lavaggio Digital
  background-image: url("../../../documentation/SezioneLavaggioD.svg");
}

// BACKGROUND PRELAVAGGIO(SOTTOSEZIONE LAVAGGIO)

.bp {
  // Sfondo prelavaggio Default
  background-image: url("../../../documentation/Prelavaggio.svg");
}

.bpL {
  // Sfondo prelavaggio Lean
  background-image: url("../../../documentation/PrelavaggioL.svg");
}

.bpD {
  // Sfondo prelavaggio Digital
  background-image: url("../../../documentation/PrelavaggioD.svg");
}

//BACKGROUND LAVAGGIO (SOTTOSEZIONE LAVAGGIO)

.bl {
  // Sfondo lavaggio Default
  background-image: url("../../../documentation/Lavaggio.svg");
}

.blL {
  // Sfondo lavaggio Lean
  background-image: url("../../../documentation/LavaggioL.svg");
}

.blD {
  // Sfondo lavaggio Digital
  background-image: url("../../../documentation/LavaggioD.svg");
}

// BACKGROUND ASCIUGATURA (SOTTOSEZIONE LAVAGGIO)

.ba {
  // Sfondo asciugatura Default
  background-image: url("../../../documentation/Asciugatura.svg");
}

.baL {
  // Sfondo asciugatura Lean
  background-image: url("../../../documentation/AsciugaturaL.svg");
}

.baD {
  // Sfondo asciugatura Digital
  background-image: url("../../../documentation/AsciugaturaD.svg");
}

// BACKGROUND SEZIONE PRETRATTAMENTO

.bsp {
  // Sfondo sezione lavaggio Default
  background-image: url("../../../documentation/SezioneTrattamento.svg");
}

.bspL {
  // Sfondo sezione lavaggio Lean
  background-image: url("../../../documentation/SezioneTrattamentoL.svg");
}

.bspD {
  // Sfondo sezione lavaggio Digital
  background-image: url("../../../documentation/SezioneTrattamentoD.svg");
}

// BACKGROUND VASCA PRE TRATTAMENTO (SOTTOSEZIONE PRETRATTAMENTO)

.bvt {
  // Sfondo vasca pre trattamento Default
  background-image: url("../../../documentation/VascaPreTrattamento.svg");
}

.bvtL {
  // Sfondo vasca pre trattamento Lean
  background-image: url("../../../documentation/VascaPreTrattamentoL.svg");
}

.bvtD {
  // Sfondo vasca pre trattamento Digital
  background-image: url("../../../documentation/VascaPreTrattamentoD.svg");
}

// BACKGROUND VASCA PRIMER (SOTTOSEZIONE PRETRATTAMENTO)

.bvp {
  // Sfondo vasca primer Default
  background-image: url("../../../documentation/VascaPrimer.svg");
}

.bvpL {
  // Sfondo vasca primer Lean
  background-image: url("../../../documentation/VascaPrimerL.svg");
}

.bvpD {
  // Sfondo vasca primer Digital
  background-image: url("../../../documentation/VascaPrimerD.svg");
}

// BACKGROUND VASCA FINISHER (SOTTOSEZIONE PRETRATTAMENTO)

.bvf {
  // Sfondo vasca finisher Default
  background-image: url("../../../documentation/VascaFinisher.svg");
}

.bvfL {
  // Sfondo vasca finisher Lean
  background-image: url("../../../documentation/VascaFinisherL.svg");
}

.bvfD {
  // Sfondo vasca finisher Digital
  background-image: url("../../../documentation/VascaFinisherD.svg");
}

// BACKGROUND SEZIONE STOCCAGGIO

.bss {
  // Sfondo sezione stoccaggio Default
  background-image: url("../../../documentation/SezioneStoccaggio.svg");
}

.bssL {
  // Sfondo sezione stoccaggio Lean
  background-image: url("../../../documentation/SezioneStoccaggioL.svg");
}

.bssD {
  // Sfondo sezione stoccaggio Digital
  background-image: url("../../../documentation/SezioneStoccaggioD.svg");
}

// BACKGROUND IMPILATORE (SOTTOSEZIONE STOCCAGGIO)

.bi {
  // Sfondo impilatore Default
  background-image: url("../../../documentation/Impilatore.svg");
}

.biL {
  // Sfondo impilatore Lean
  background-image: url("../../../documentation/ImpilatoreL.svg");
}

.biD {
  // Sfondo impilatore Digital
  background-image: url("../../../documentation/ImpilatoreD.svg");
}

// BACKGROUND POMPAACQUA (SOTTOSEZIONE PRELAVAGGIO)
.bpa {
  // Sfondo pompa acqua Default
  background-image: url("../../../documentation/PompaAcqua.svg");
}

.bpaL {
  // Sfondo  pompa acqua Lean
  background-color: blue;
}

.bpaD {
  // Sfondo  pompa acqua Digital
  background-image: url("../../../documentation/PompaAcquaD.svg");
}

// BACKGROUND CONTATORE (SOTTOSEZIONE PRELAVAGGIO)
.bc {
  // Sfondo CONTATORE Default
  background-image: url("../../../documentation/ContatoreAcqua.svg");
}

.bcL {
  // Sfondo CONTATORE Lean
  background-color: blueviolet;
}

.bcD {
  // Sfondo  CONTATORE Digital
  background-image: url("../../../documentation/ContatoreAcquaD.svg");
}

// BACKGROUND Sensore temperatura (SOTTOSEZIONE PRELAVAGGIO)
.bsts {
  // Sfondo Sensore temperatura Default
  background-image: url("../../../documentation/SensoreTemperatura.svg");
}

.bstsL {
  // Sfondo Sensore temperatura Lean
  background-color: rgba(255, 230, 0, 0.938);
}

.bstsD {
  // Sfondo  Sensore temperatura Digital
  background-image: url("../../../documentation/SensoreTemperaturaD.svg");
}

// BACKGROUND SensoreLivelloAcqua (SOTTOSEZIONE PRELAVAGGIO)
.bsla {
  // Sfondo SensoreLivelloAcqua Default
  background-image: url("../../../documentation/SensoreLivelloAcqua.svg");
}

.bslaL {
  // Sfondo SensoreLivelloAcqua Lean
  background-color: rgba(33, 23, 68, 0.938);
}

.bslaD {
  // Sfondo  SensoreLivelloAcqua Digital
  background-image: url("../../../documentation/SensoreLivelloAcquaD.svg");
}

// BACKGROUND Pompa (SOTTOSEZIONE LAVAGGIO)
.bpom {
  // Sfondo Pompa Default
  background-image: url("../../../documentation/Pompa.svg");
}

.bpomL {
  // Sfondo Pompa Lean
  background-color: rgba(143, 8, 87, 0.938);
}

.bpomD {
  // Sfondo  Pompa Digital
  background-image: url("../../../documentation/PompaD.svg");
}

// BACKGROUND Ventilatore (SOTTOSEZIONE ASCIUGATURA)
.bvent {
  // Sfondo Ventilatore Default
  background-image: url("../../../documentation/Ventilatore.svg");
}

.bventL {
  // Sfondo Ventilatore Lean
  background-color: rgba(143, 207, 22, 0.938);
}

.bventD {
  // Sfondo  Ventilatore Digital
  background-image: url("../../../documentation/VentilatoreD.svg");
}

// BACKGROUND SensoreUmidità (SOTTOSEZIONE ASCIUGATURA)
.bsu {
  // Sfondo SensoreUmidità Default
  background-image: url("../../../documentation/SensoreUmidita.svg");
}

.bsuL {
  // Sfondo SensoreUmidità Lean
  background-color: rgba(170, 47, 133, 0.938);
}

.bsuD {
  // Sfondo  SensoreUmidità Digital
  background-image: url("../../../documentation/SensoreUmiditaD.svg");
}


// BACKGROUND SensoreLivello (SOTTOSEZIONE PRETRATTAMENTO)
.bsenliv {
  // Sfondo SensoreUmidità Default
  background-image: url("../../../documentation/SensoreLivello.svg");
}

.bsenlivL {
  // Sfondo SensoreUmidità Lean
  background-color: rgba(122, 10, 25, 0.938);
}

.bsenlivD {
  // Sfondo  SensoreUmidità Digital
  background-image: url("../../../documentation/SensoreLivelloD.svg");
}


// BACKGROUND SensorePH (SOTTOSEZIONE PRETRATTAMENTO)
.bsenph {
  // Sfondo SensoreUmidità Default
  background-image: url("../../../documentation/SensorePH.svg");
}

.bsenphL {
  // Sfondo SensoreUmidità Lean
  background-color: rgba(226, 166, 164, 0.938);
}

.bsenphD {
  // Sfondo  SensoreUmidità Digital
  background-image: url("../../../documentation/SensorePHD.svg");
}



// BACKGROUND Motore1 (SOTTOSEZIONE IMPILATORE)
.bmot1 {
  // Sfondo SensoreUmidità Default
  background-image: url("../../../documentation/Motore1.svg");
}

.bmot1L {
  // Sfondo SensoreUmidità Lean
  background-color: rgba(255, 115, 0, 0.938);
}

.bmot1D {
  // Sfondo  SensoreUmidità Digital
  background-image: url("../../../documentation/Motore1D.svg");
}



// BACKGROUND Motore2 (SOTTOSEZIONE IMPILATORE)
.bmot2 {
  // Sfondo SensoreUmidità Default
  background-image: url("../../../documentation/Motore2.svg");
}

.bmot2L {
  // Sfondo SensoreUmidità Lean
  background-color: rgba(82, 95, 75, 0.938);
}

.bmot2D {
  // Sfondo  SensoreUmidità Digital
  background-image: url("../../../documentation/Motore2D.svg");
}


// BACKGROUND SensoreCorrenteAssorbita (SOTTOSEZIONE di VARIE sottosez)
.bsca {
  // Sfondo SensoreCorrenteAssorbita Default
  background-image: url("../../../documentation/ContatoreCorrenteAssorbita.svg");
}

.bscaL {
  // Sfondo SensoreCorrenteAssorbita Lean
  background-color: rgba(101, 221, 36, 0.938);
}

.bscaD {
  // Sfondo  SensoreCorrenteAssorbita Digital
  background-image: url("../../../documentation/ContatoreCorrenteAssorbitaD.svg");
}


// BACKGROUND SensoreNumeroDiGiri (SOTTOSEZIONE di VARIE sottosez)
.bsng {
  // Sfondo SensoreNumeroDiGiri Default
  background-image: url("../../../documentation/ContatoreGiriAlMinuto.svg");
}

.bsngL {
  // Sfondo SensoreNumeroDiGiri Lean
  background-color: rgba(255, 0, 221, 0.938);
}

.bsngD {
  // Sfondo  SensoreNumeroDiGiri Digital
  background-image: url("../../../documentation/ContatoreGiriAlMinutoD.svg");
}


// BACKGROUND SensoreOreLavoro (SOTTOSEZIONE di VARIE sottosez)
.bsolav {
  // Sfondo SensoreNumeroDiGiri Default
  background-image: url("../../../documentation/ContatoreOreLavoro.svg");
}

.bsolavL {
  // Sfondo SensoreNumeroDiGiri Lean
  background-color: rgba(255, 0, 0, 0.938);
}

.bsolavD {
  // Sfondo  SensoreNumeroDiGiri Digital
  background-image: url("../../../documentation/ContatoreOreLavoroD.svg");
}



