.container5v1 {
  height: 100%;
}

.container5v1 div {
  height: 42.5%;
}

.container5v1 .contatti {
  height: 15%;
}

.carattere {
  color: #aedec2;
}

p {
  font-size: 20px;
}
.sectiontitle{
  font-size: 25px;
  text-align: left;
}
