.container5v1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 200px;
}

.container5v1 div {
  height: 42.5%;
}

h1 {
  margin-top: 5px;
}

.carattere {
  color: #aedec2;
}

p {
  font-size: 20px;
}
.sectiontitle{
  font-size: 25px;
  text-align: left;
}
