/* The slider */
/* Rounded sliders */
/* The switch - the box around the slider */
/* Hide default HTML checkbox */
.container {
  display: grid;
  grid-template-columns: 65px 70px 85px 70px;
  margin-top: 10px;
  justify-content: center;
  padding: 15px;
  padding-left: 8px;
  padding-bottom: 0;
  p {
    margin: 0;
    margin-top: 7px;
    font-size: 18px;
    z-index: 4;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 4;
  opacity: 0.7;
  &:hover {
    transform: scale3d(1.2,1.2,1.2);
    opacity: 1;
  }
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 4;
  }
}
.slider.round {
  border-radius: 34px;
  z-index: 4;
  &:before {
    border-radius: 50%;
    z-index: 4;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  z-index: 4;
  input {
    display: none;
  }
}
input {
  &:checked {
    + {
      .one {
        background-color: #49b675;
        opacity: 1;
      }
      .two {
        background-color: #ff605f;
        opacity: 1;
      }
      .slider {
        &:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }
  }
  &:focus {
    + {
      .one {
        box-shadow: 0 0 1px #49b675;
        opacity: 1;
      }
      .two {
        box-shadow: 0 0 1px #ff605f;
        opacity: 1;
      }
    }
  }
}
